PORT=4000
MONGODB_URI=mongodb://localhost:27017/profilservice
AUTH_SERVER_URL=https://auth.freischule.info
NODE_ENV=development

# CORS
CORS_ORIGINS=https://example.com,https://www.example.com
CORS_METHODS=*
CORS_HEADERS=*
CORS_ALLOW_CREDENTIALS=true
